{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}{{ page.title }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="cart-progress col-sm-8 col-lg-8 col-md-8">
                <div class="nice progress">
                    <span class="meter"><a href="{% pageurl page %}">{{ page.title }}</a></span>
                    {% for link in page.get_children.live %}
                        <span class="meter"><a href="{% pageurl link %}">{{ link.title }}</a></span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="cart-products col-sm-6 col-lg-6 col-md-6">
                {% for cart_product in cart %}
                    {% with product=cart_product.product %}
                        <div class="cart-product" data-item-id="{{ product.id }}" data-quantity="{{ cart_product.qty }}"
                             data-quantity-available="{{ cart_product.max_qty }}"
                             data-price="{{ cart_product.total_price }}" data-size="{{ cart_product.size }}">
                            <div class="cart-product-delete">
                                <a class="js-product-delete" href="#"
                                   data-product="{{ product.id }}" data-size="{{ cart_product.size }}"
                                   id="{{ product.id }}">x</a>
                            </div>
                            <div class="cart-product-image">
                                <a href="{% pageurl product %}">
                                    {% image product.image.0.value width-150 height-150 as product_img %}
                                    <img src="{{ product_img.url }}">
                                </a>
                            </div>
                            <div class="cart-product-info">
                                <div class="cart-product-title cart-title">
                                    <a href="{% pageurl product %}">{{ product.title }}</a>
                                </div>
                                <div class="div class-product-number">
                                    Артикул: {{ product.article }}
                                </div>
                                <div class="cart-product-size">
                                    Размер: {{ cart_product.size }}
                                </div>
                                <div class="cart-product-price">
                                    Цена: {{ product.price }} Руб.
                                </div>
                                <div class="cart-product-available">
                                    Доступен
                                </div>
                            </div>
                            <div class="cart-product-quantity">
                                <button class="ghost-button icon-minus"><img src="{% static 'img/minus.png' %}">
                                </button>
                                <span class="cart-product-quantity-value">{{ cart_product.qty }}</span>
                                <button class="ghost-button icon-plus"><img src="{% static 'img/plus.png' %}"></button>
                            </div>
                            <div class="cart-product-cost cart-cost">
                                {{ cart_product.total_price }} Руб.
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
                <div class="coupon">
                    <form id="coupon-form" class="coupon-form" action="#" method="post">
                        <label>
                            <span class="icon-promo-code">Промокод</span>
                            <input class="" type="text" placeholder="Введите промокод" name="coupon_code">
                        </label>
                        <button id="coupon-btn" class="btn-primary"></button>
                    </form>
                    <div class="coupon-info">
                        Активируйте промокоды программы лояльности после блока "Контакты"
                    </div>
                </div>
                <h2>Оформление заказа</h2>
                <div class="order-info">
                    Товаров: {{ cart|length }}, на сумму {{ cart.get_total_price }} Руб.
                </div>
                <div class="steps">
                    <div id="orderInfo">
                        <div id="delivery-edit" class="step active">
                            <h3>Доставка</h3>
                            <div id="customerCity">
                                <div class="step-inner">
                                    <div class="delivery-country">
                                        <div class="delivery-country-title">Ваша страна:</div>
                                        <div class="delivery-country-holder">
                                            <a href="#">Россия</a>
                                        </div>
                                    </div>
                                </div>
                                <form id="form-get-delivery" class="select-city-form step-inner checkout-city">
                                    <div class="city_select">
                                        <span>Выберите адрес:</span>
                                        <div class="">
                                            {% if user.user_addresses.all|length > 0 %}
                                                <select class="form-input" type="text" name="address" required=""
                                                        id="id_address">
                                                    {% for address in user.user_addresses.all %}
                                                        <option value="{{ address.id }}">{{ address.country }}-{{ address.city }}-{{ address.street }}-{{ address.street_number }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% else %}
                                                <div class="add-address">
                                                    <a href="{% url  'account:add_address' %}">Добавить адрес</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <span>Способ доставки:</span>
                                        <div class="">
                                            <select class="form-input" name="delivery_type" id="id_delivery_type">
                                                {% for id, name in delivery_form.delivery_type.field.choices %}
                                                    <option value="{{ id }}">{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="delivery-view" class="step finished step-inner">
                            <h3 class="point-of-issue"></h3>
                            <a class="change-link" href="#">Изменить</a>
                            <strong class="full-width shop-name"></strong>
                            <div class="zip-code">
                                <em></em>
                            </div>
                        </div>
                        <div id="accountInfo" class="step checkout-account step-inner active">
                            <h3>Контакты</h3>
                            <span>Укажите свои данные, чтобы быть в курсе изменений статуса заказа.</span>
                            <form id="accountForm" method="post" action="#">
                                <div class="fieldset-vertical">
                                    <span>Имя</span>
                                    <div class="">
                                        <input class="form-input" type="text" name="name" value="" required=""
                                               id="id_name"
                                               placeholder="Введите ваше имя">
                                    </div>
                                    <span>Фамилия</span>
                                    <div class="">
                                        <input class="form-input" type="text" name="second_name" value="" required=""
                                               id="id_second_name"
                                               placeholder="Введите вашу фамилию">
                                    </div>
                                    <span>Телефон для sms-уведомлений</span>
                                    <div class="">
                                        <input class="form-input" type="text" name="phone" value="" required=""
                                               id="id_phone"
                                               placeholder="+7(XXX) XXX-XX-XX">
                                    </div>
                                </div>
                                <div class="order-comment">
                                    <span>Комментарий к заказу</span>
                                    <div class="">
                                        <textarea class="form-input" type="text" name="comment" required=""
                                                  id="id_comment"
                                                  placeholder="Напишите что-нибудь"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="checkout">
                    <h3>Товаров: {{ cart|length }}</h3>
                    <div class="totals">
                        <span>Итого:</span>
                        <div class="total_price">{{ cart.get_total_price }}</div>
                        <div class="bonus"></div>
                        <span class="total_bonus_price"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock extra_js %}