{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}{{ page.name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="product-navigation-module">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="breadcrumb-product">
                        <span>
                            <a href="{% url 'wagtail_serve' '' %}">Главная</a>
                        </span>
                        <i></i>
                        <span>
                            <a href="{% pageurl page.category_fk %}">{{ page.category_fk.name }}</a>
                        </span>
                        <i></i>
                        <span>
                            <a href="{% pageurl page.rubric_fk %}">{{ page.rubric_fk.name }}</a>
                        </span>
                        <i></i>
                        <span>
                            <a href="{% pageurl page %}">{{ page.name }}</a>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
    <div class="product-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="images-product col-sm-4 col-md-4 col-lg-4">
                    <div class="swiper product-image-block">
                        <div class="swiper-wrapper">
                            {% for img in page.image %}
                                {% image img.value original as img %}
                                <div class="swiper-slide"><img class="listing-product-image" src="{{ img.url }} "></div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="product-info-block col-sm-4 col-md-4 col-lg-4">
                    <div class="product-info">
                        <div class="product-brand-logo">
                            <div class="brand-logo">
                                <a href="{% pageurl page.brand_fk %}">
                                    {% image page.brand_fk.image width-200 height-200 format-webp-lossless as img %}
                                    <img src="{{ img.url }}">
                                </a>
                            </div>
                        </div>
                        <div id="product-module-title">
                            <div class="product-title">
                                <h1 class="product-title-headline">{{ page.name }}</h1>
                                <small>Артикул: {{ page.article }}</small>
                            </div>
                        </div>
                        <div class="product-price">
                            <div class="price">Цена: {{ page.price }} Руб.</div>
                        </div>
                        <div class="product-size-section">
                            <div class="size-headline">Размер:</div>
                            <select id="product-size-chooser" class="product-size-chooser">
                                <option value="" selected>Выберите размер</option>
                                {% for size in sizes %}
                                    <option value="{{ size.size }}" data-size="{{ size.size }}">{{ size.size }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="product-size-chooser-message">
                        </div>
                        <div class="product-add-to-cart">
                            <button id="add-to-cart" class="add-to-cart">
                                <img src="{% static 'img/shopping-cart.png' %}">
                                Добавить в корзину
                            </button>
                        </div>
                        <div class="product-add-to-fav">
                            <button id="add-to-fav" class="add-to-fav">
                                <img src="{% static 'img/heart24.png' %}">
                                Добавить в избранное
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static "js/swiper-product.js" %}"></script>
    <script src="{% static "js/add-to-cart.js" %}"></script>
{% endblock extra_js %}