{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8" style="margin-top: 15px">
                <h2 class="hardline" style="margin-bottom: 0.0px; text-align: center">Изменить адрес</h2>
                <div class="user-edit-container login " style="margin-top: 0px">
                    <form class="account-edit" method="post" action="{% url "account:edit_address" %}">
                        {% csrf_token %}
                        <div class="block-a" style="margin-top: 0px">
                            <label class="label-form" for="address_name">{{ form.address_name.label }}</label>
                            <input type="text" name="address_name" required="" id="id_address_name"
                                   value="{{ form.address_name.value }}" maxlength="256">
                        </div>
                        <div class="block-a" style="margin-top: 0px">
                            <label class="label-form" for="country">{{ form.country.label }}</label>
                            <select type="text" name="country" required="" id="id_country" style="background-color: white">
                                {% for id, name in form.country.field.choices %}
                                    {% if name == form.country.value %}
                                        <option value="{{ id }}" selected="">{{ name }}</option>
                                    {% else %}
                                        <option value="{{ id }}">{{ name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="block-a" style="margin-top: 0px">
                            <label class="label-form" for="city">{{ form.city.label }}</label>
                            <input type="text" name="city" required="" id="id_city"
                                   value="{{ form.city.value }}" maxlength="256">
                        </div>
                        <div class="block-a" style="margin-top: 0px">
                            <label class="label-form" for="street">{{ form.street.label }}</label>
                            <input type="text" name="street" required="" id="id_street"
                                   value="{{ form.street.value }}" maxlength="256">
                        </div>
                        <div class="block-a" style="margin-top: 0px">
                            <label class="label-form" for="street_number">{{ form.street_number.label }}</label>
                            <input type="text" name="street_number" required="" id="id_street_number"
                                   value="{{ form.street_number.value }}" maxlength="256">
                        </div>

                        <div class="block-a" style="margin-top: 0px">
                            <label class="label-form" for="zip_code">{{ form.zip_code.label }}</label>
                            <input type="text" name="zip_code" required="" id="id_zip_code"
                                   value="{{ form.zip_code.value }}" maxlength="256">
                        </div>
                        <div class="block-a" style="margin-top: 0px">
                            <label class="label-form" for="comment">{{ form.comment.label }}</label>
                            <input type="text" name="comment" required="" id="id_comment"
                                   value="{{ form.comment.value }}" maxlength="256">
                        </div>
                        <div class="block-a" style="margin-top: 0px">
                            <label class="label-form" for="phone">{{ form.phone.label }}</label>
                            <input type="text" name="phone" required="" id="id_phone"
                                   value="{{ form.phone.value }}" maxlength="256">
                        </div>
                        <input type="hidden" name="id_address" required="" id="id_id_address"
                               value="{{ address.id }}">
                        <div class="block-submit" style="margin-top: 0px">
                            <input type="submit" value="Добавить адрес">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}
