a{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="user-edit-container login">
                    <h2 class="hardline">Изменить данные адреса</h2>
                    <form id="account-edit" action="{% url 'account:edit_address' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="block-submit">
                            <input type="submit" value="Сохранить данные">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}
