{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block body_class %}{{ page.title }}{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
{% endblock extra_css %}


{% block content %}
    <div class="profile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <div class="account-overview">
                        <h2 class="hardline">
                            <img src="{% static "img/setting-lines.png" %}">
                            Мой аккаунт
                        </h2>
                        <div class="account-settings">
                            <a href="#" class="account-overview-my-account-entry">
                                <img src="{% static "img/user(1).png" %}">
                                <br>
                                <div>Личные данные</div>
                            </a>
                            <a href="#" class="account-overview-my-account-entry">
                                <img src="{% static "img/house.png" %}">
                                <br>
                                <div>Адресса</div>
                            </a>
                            <a href="{% url 'account:change_password' %}" class="account-overview-my-account-entry">
                                <img src="{% static "img/key.png" %}">
                                <br>
                                <div>Изменить пароль</div>
                            </a>
                            <a href="#" class="account-overview-my-account-entry">
                                <img src="{% static "img/heart(1).png" %}">
                                <br>
                                <div>Список желаемого</div>
                            </a>
                            <a href="#" class="account-overview-my-account-entry">
                                <img src="{% static "img/email.png" %}">
                                <br>
                                <div>Подписаться на новости</div>
                            </a>
                            <a href="#" class="account-overview-my-account-entry">
                                <img src="{% static "img/logout.png" %}">
                                <br>
                                <div>Выйти</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h2 class="hardline">
                        <img src="{% static "img/resume(1).png" %}">
                        Достижения
                    </h2>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="listing-container col-sm-8 col-md-8 col-lg-8">
                    <h2 class="hardline">Недавно просмотренные товары</h2>
                    <div class="products-container">
                        {% if rv_products.rv_product|length == 5 %}
                            {% for item in rv_products %}
                                {% with product=item.product %}
                                    <div class="listing-product">
                                        <a href="{{ product.url }}" title="">
                                            <div class="listing-product-container">
                                                <div class="swiper ProductCart">
                                                    <div class="swiper-wrapper">
                                                        {% for img in product.image %}
                                                            {% image img.value width-300 height-300 as product_img %}
                                                            <div class="swiper-slide">
                                                                <img class="listing-product-image"
                                                                     src="{{ product_img.url }}">
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="swiper-button-next"></div>
                                                    <div class="swiper-button-prev"></div>
                                                </div>
                                            </div>
                                            <div class="listing-product-brand">{{ product.brand_fk }}</div>
                                            <div class="listing-product-name">{{ product.name }}</div>
                                            <div class="listing-product-bottom">
                                                <div class="listing-product-price">
                                                    <div class="listing-product-price-regular">{{ product.price }} руб.
                                                    </div>
                                                </div>
                                                <div class="listing-product-rating"></div>
                                            </div>
                                        </a>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block extra_js %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static "js/product-cart-swiper.js" %}"></script>
{% endblock extra_js %}